@import '/src/global-styles/variable';

.sign-up-container {
    display: flex;
    flex-direction: column;
    width: $--sign-up-container-width;
    padding-inline: $--container-padding;

    h2 {
        margin: 10px 0;
    }
}