:root {
  --ff-apple-normal: -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        Helvetica Neue,
        sans-serif;
}

body {
  margin: 0;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--ff-apple-normal)
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.2em;
}



::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10vw;
}
